
#div4 .row, #div2 div{
	width:40vw;
}

@media screen and (max-width:480px){
	#div4 .row, #div2 div{
		width:80vw;
	}
	
}
#login h1{
	font-size:25px;
}
@media screen and (max-width:480px){
	#login h1{
		font-size:20px;
	}
}

#service{
	background-color:black;
	padding-bottom:300px;
	padding-top:80px;
	color:white;
	font-family: 'Open Sans', sans-serif;
}


h1,h3{
	text-align:center;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	
}
.image{
	display:block;
	margin:auto;
	margin-bottom:20px;
	width:96px;
	height:93px;
	margin-bottom:50px;
}
hr{
	width:3%;
	text-align:center;
	border:2px solid #ffffff;
	margin-bottom:100px;
}
p{
	text-align:center;
	font-family: 'News Cycle',sans-serif;
	font-size:25px;
	
	
}

#div2{
	background-image:url("../46.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:200px;
	padding-bottom:200px;
	background-attachment:fixed;
}
#div3{
	background-image:url("../48.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:375px;
	padding-bottom:470px;
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;
	
}
#div4{
	background-image:url("../47.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:150px;
	padding-bottom:150px;
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;
}
.ul{
	font-family: 'Open Sans', sans-serif;
	color:#F0f3f4;
}
input,button{
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #006699;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}